# Author   LeRaide - Jason Grondin.
# License   http://www.apache.org/licenses/LICENSE-2.0
# Product   TWS - CPP
# File      .gitignore

# ===== Visual Studio =======================================================

/.vs/

Debug/
Release/

*.vcxproj.user

